.page {
  font-family: 'Arial', 'Franklin Gothic Medium', 'Arial Narrow', 'sans-serif';
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  color: blue;
}

.centerH2 {
  position: relative;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: auto;
  margin-bottom: 2%;
}

a:hover {
  background-color: rgb(178, 178, 250);
}

