<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>

<body>
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/showMyCompany">show my profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="/createCoupon">create coupon</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/removeCoupon">delete coupon</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/updateCoupon">update coupons</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/getCoupon">coupon by id</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/getCouponByType">coupons list(by type)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/getCouponByMaxPrice">coupons list(by price)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/getCouponByDate">coupons list(by date)</a>
    </li>
    <li class="nav-item">
      <a href="http://ec2-18-216-14-107.us-east-2.compute.amazonaws.com:8080/OCS2/logout/" class="btn btn-primary" role="button">logout</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</body>

</html>