.page {
  font-family: 'Arial', 'Franklin Gothic Medium', 'Arial Narrow', 'sans-serif';
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  color: blue;
}

.centerH2 {
  position: relative;
  margin-left: 25%;
  margin-right: 20%;
  margin-top: auto;
  margin-bottom: auto;
}

.inputBlock {
  position: relative;
  margin-left: 25%;
  margin-right: 20%;
  margin-bottom: auto;
  margin-top: auto;
}

label {
  color: black;
}

input {
  text-align: center;
}

img {
  width: 30%;
  height: 20%;
}

label {
  color: black;
}

a:hover {
  background-color: rgb(178, 178, 250);
}

